.auth {
  padding-right: 10px;
}

.links {
  display: flex;
  align-items: center;
}

.link_si {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 34px;
  background-color: #151615;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;

  &:hover {
    border: 1px solid #fffc;
    color: #fffc;
  }

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.link_su {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 34px;
  background-color: #24ca2cfa;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;

  &:hover {
    background-color: #24ca2cda;
  }

  &:not(:first-child) {
    margin-left: 10px;
  }
}
