.empty {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.description {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.btn {
  cursor: pointer;
  margin-top: 15px;
  width: 60px;
  height: 28px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #fff;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7882352941);
  }
}
