.card {
  width: 100%;
  position: relative;
  display: flex;
  margin: 15px 0;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  border: 3.5px solid rgba(99, 96, 96, 0.15);
  border-radius: 17px;
}

.img {
  width: 108px;
  height: 142px;
  border-radius: 5px;
}

.info {
  margin-left: 30px;
}

.title {
  width: 250px;
  height: 20px;
}

.button {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 150px;
  height: 45px;
}
