.title {
  font-size: 42px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  text-align: left;
}

.block {
  margin-top: 50px;
}

.text {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-align: left;
  line-height: normal;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.subtitle {
  margin-top: 30px;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}

.card {
  margin-top: 60px;
}
